<p>Profile ID<br>
<%= @id %></p>

<p>Profile description<br>
<%= @desc %></p>

<p>Profile timeline<br>
<%= @tweets %></p>

<p>Profile followers<br>
<%= @followers %></p>

<%# current_user.user_timeline("FAIL").each do |tweet| %>
    <%# puts tweet %>
<%# end %>