<p>Profile<br>
<%# @profile %></p>

<p>Profile timeline<br>
<%# @profile_timeline %></p>

<p>Tweet<br>
<%# @tweet %></p>

-----------
  
<p>Profile ID<br>
<%= @id %></p>

<p>Profile description<br>
<%= @desc %></p>

<p>Profile timeline<br>
<%# @timeline %></p>

<%# current_user.user_timeline("FAIL").each do |tweet| %>
    <%# puts tweet %>
<%# end %>